**/.pbi/localSettings.json
**/.pbi/cache.abf

# Exclude environment secrets
.env
.env.*
.Renviron

# Python
__pycache__/
*.pyc

# RStudio & R Markdown outputs
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*_files/
*_cache/
*.html

# Power BI Project (.pbip) ignore rules
*.tmp
*.log
*.pbi/cache.abf
*.pbi/localSettings.json
*.pbi/userSettings.json
/.quarto/
**/*.quarto_ipynb
