# Exclude environment secrets
.env
.env.*
.Renviron

# Python
__pycache__/
*.pyc

# RStudio & R Markdown outputs
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*_files/
*_cache/

# Power BI Project (.pbip) ignore rules
*.tmp
*.log
*.pbi/cache.abf
*.pbi/localSettings.json
*.pbi/userSettings.json
